.photoHeader {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.photoHeaderText {
    margin: 0%;
    padding: 15% 10% 10% 10%;
    font-size:60px; 
    text-align: center;
    color: white;
    word-wrap: normal;
}