.centreNav {
    width: 100%;
    display: table; 
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    float: none;
}

.navItem {
    display: inline-block;
    margin: 10px;
    text-align: center; 
}