div .textElementInverted {
    width: fit-content;
    float: right;
}

.textElement, .textHeading, .textHeadingInverted, .textElementInverted {
    display: inline-block;
    display: flex;
    margin: 20px;
    white-space:pre-wrap;
    width:100%;
}

.textHeading, .textHeadingInverted {
    text-decoration: underline;
    font-size: 18pt;
}

.textHeadingInverted { 
    padding-right: 20px;
}

.subElement {
    float: none;
    display: inline-block;
    margin: 10px;
}

.experenceImg {
    border-radius: 50%;
    border: 5px;
}