.textElement, .textHeading, .textHeadingInverted {
    display: inline-block;
    display: flex;
    margin: 20px;
}

.textHeading, .textHeadingInverted {
    text-decoration: underline;
    font-size: 18pt;
}

.textHeadingInverted { 
    text-align: right;
    display: block;
    padding-right: 20px;
}

.subElement {
    float: none;
    display: inline-block;
    margin: 10px;
}

.experenceImg {
    border-radius: 50%;
    border: 5px;
}