.footer {
    width: 100%;
    background-color: #d1d1d1;
    height: 150px;
    margin-top: 2.5%;
    padding-top: 15px;
    text-align: center;
}

.footerImgLink {
    margin: 10px;
    height: 16px;
}